@use '../mixins' as *;

section.work {
  position: relative;
  max-width: 1000px;
  width: 100%;

  &.margin {
    margin-bottom: 9rem;

    @include tablet {
      margin-bottom: 5rem;
    }

    @include mobile-lg {
      margin-bottom: 3rem;
    }
  }
  
  .mobile-wrapper {
    position: absolute;
    right: 0;
    width: 240px;
    align-self: center;
    z-index: 5;

    @include mobile-lg {
      display: none;
    }
    
    &.right {
      left: 0;
      right: inherit;
    }

    .outline {
      $offset: 20px;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: 3px solid $purple5;
      border-radius: 8px;
      position: absolute;
      top: $offset;
      left: $offset;
      
      &.right {
        left: -$offset;
      }

      @include laptop {
        top: $offset/2;
        left: $offset/2;
        border-width: 2px;
        &.right {
          left: -$offset/2;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 3px;
    }
  }

  .description {
    $max-width: calc(55ch + 4rem);

    position: relative;
    z-index: 10;
    color: $grey3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: $max-width;
    
    &.right {
      align-items: flex-end;
      margin-left: auto;
    }

    .header-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-direction: row;
      text-shadow: 0px 3px 3px #111;

      &.right {
        flex-direction: row-reverse;
        .header-titles { text-align: right; }
        @include mobile {
          flex-direction: row;
          .header-titles { text-align: left; }
        }
        
      }

      h4.subtitle {
        font-family: $headingFont;
        font-weight: bold;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 0.75rem;

        span {
          color: $red5;
        }
      }

      h3.title {
        font-family: $headingFont;
        font-weight: bold;
        line-height: 1.7rem;
        font-size: 1.25rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      a.external-link {
        color: $grey2;
        transition: all linear 150ms;
        padding: .5rem;
        margin: 0 .2rem;
        border-radius: 8px;

        &:hover {
          background: $grey2;
          color: $purple9;
        }
      }
    }

    p {
      font-size: .95rem;
      color: rgba(white, .7);
      margin-bottom: 1rem;
      background: rgba($purple6, .9);
      padding: 2rem;
      border-radius: .5rem;
      box-shadow: $shadow-4;
      position: relative;
      overflow: hidden;

      button.ellipsis {
        color: $grey3;
        text-decoration: underline;
        opacity: .3;
      }

      @include mobile-lg {
        padding: 1.5rem 1rem;
        background: rgba($purple6, .8);
      }

      strong {
        font-weight: bold;
        color: $red5;
      }

      img.bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        display: none;

        @include mobile-lg {
          display: block;
        }
      }
    }

    .tech-wrapper {
      display: flex;
      flex-direction: row;
      max-width: $max-width;
      flex-wrap: wrap;
      text-shadow: 0px 3px 3px #111;
      justify-content: flex-start;
      padding-left: 2rem;
      opacity: .8;
      font-size: .9rem;

      .tech {
        display: flex;
        align-items: center;
        margin: .5rem 0;
        margin-right: 3rem;

        span {
          margin-left: .25rem;
          @include mobile-lg { margin-left: .1rem; }
        }
      }

      @include mobile-lg {
        padding-left: 1rem;
        .tech {
          margin-right: 1.5rem;
        }
      }
      
      &.right {
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 2rem;
        .tech {
          margin-left: 3rem;
          margin-right: 0;
        }
        @include mobile-lg {
          justify-content: flex-start;
          padding-right: 0;
          padding-left: 1rem;
          .tech {
            margin-left: 0;
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}