.card {
  overflow: hidden;
  position: relative;
}

.card .slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(-100%, 0);
  transition: all .2s;
}

.card:hover .slide {
  transform: none;
}


.social-grp > .social-btn {
  color: white;
  border-radius: 0;
  border-left: none;
  border-color: rgba(255,255,255,0.16);
}

.social-grp > .social-btn:first-child {
  border-top-left-radius: .375rem;
  border-bottom-left-radius: .375rem;
  border-left-width: 1px;
  border-left-style: solid;
}

.social-grp > .social-btn:last-child {
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

.social-grp > .social-btn:hover {
  background-color: white;
  color: #2D3748;
}