section.work {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 2rem;
  
  .mobile-wrapper {
    position: absolute;
    right: 0;
    width: 240px;
    align-self: center;
    z-index: 5;
    
    &.right {
      left: 0;
      right: inherit;
    }

    .outline {
      $offset: 20px;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: 3px solid $purple5;
      border-radius: 8px;
      position: absolute;
      top: $offset;
      left: $offset;
      
      &.right {
        left: -$offset;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 3px;
    }
  }

  .description {
    z-index: 10;
    color: $grey3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    
    &.right {
      align-items: flex-end;
    }

    h4.subtitle {
      font-family: $headingFont;
      font-weight: bold;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 0.75rem;

      span {
        color: $red5;
      }
    }

    h3.title {
      font-family: $headingFont;
      font-weight: bold;
      line-height: 1.25rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    $max-width: calc(60ch + 4rem);
    p {
      font-size: .95rem;
      color: rgba(white, .7);
      margin-bottom: 1rem;
      max-width: $max-width;
      background: rgba($purple6, .9);
      padding: 2rem 2rem;
      border-radius: .5rem;
      box-shadow: $shadow-4;

      strong {
        font-weight: bold;
        color: $red5;
      }
    }

    .tech-wrapper {
      display: flex;
      flex-direction: row;
      max-width: $max-width;
      flex-wrap: wrap;
      padding-left: 2rem;
      justify-content: flex-start;
      
      &.right {
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 2rem;
        .tech {
          margin-left: 3rem;
          margin-right: 0;
        }
      }

      .tech {
        display: flex;
        align-items: center;
        margin: .5rem 0;
        margin-right: 3rem;

        span {
          margin-left: .25rem;
        }
      }
    }
  }
}